/frontend/node_modules/
/frontend/public/build/
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/docker-compose.override.yml
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.idea
/backend/.vscode
.DS_Store
